<div class=" content">
  <div class=" row">
    <div class=" col-12">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h5 class=" card-category"> Appointments</h5>
              <h2 class=" card-title">Performance</h2>
            </div>
         
          </div>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartBig1"> </canvas></div>
        </div>
      </div>
    </div>
  </div>
  <div class=" row">
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Total Doctors</h5>
          <h3 class=" card-title">
            <i class="fas fa-user-md fa-5x  text-danger-states" style="font-size: 31px !important;" ></i>
              {{doctors?.length}}
          </h3>
        </div>
        <!-- <div class=" card-body">
          <div class=" chart-area">
            <canvas id="chartLineRed"> </canvas>
          </div>
        </div> -->
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Total Users</h5>
          <h3 class=" card-title">
            <i class="fas fa-user text-danger-states fa-4x"  style="font-size: 31px !important;"></i>
 {{users?.length}}
          </h3>
        </div>
        <!-- <div class=" card-body">
          <div class=" chart-area"><canvas id="CountryChart"> </canvas></div>
        </div> -->
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Total Appointments</h5>
          <h3 class=" card-title">
            <i class="fas fa-list text-danger-states"  style="font-size: 31px !important;"></i>
            <!-- <i class="fas "></i> -->
            <!-- <i class=""  style="font-size: 31px !important;"></i> -->
            {{appointments?.length}}
          </h3>
        </div>
        <!-- <div class=" card-body">
          <div class=" chart-area"><canvas id="chartLineGreen"> </canvas></div>
        </div> -->
      </div>
    </div>
  </div>

</div>